:root {
  --main-text-color: #212121;
  --second--text-color: #757575;
  --main-bcg-color: #ffffff;
  --main-herofooter-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --acent-color: #2196f3;
  --white-color: #ffffff;
  --btn-bcg-color: #f5f4fa;
  --brd-color: #ececec;
}

body {
  color: var(--main-text-color);
  font-family: roboto, sans-serif;
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.header-outline {
  /* outline: solid 1px tomato; */
  border-bottom: solid 1px var(--brd-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.padding {
  /* outline: solid tomato 2px; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.padding-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.padding-what {
  padding-bottom: 94px;
  padding-top: 0px;
}

.padding-h2pteam {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* header */
.link {
  text-decoration: none;
  color: var(--main-text-color);
}
.logo {
  font-family: raleway, sans-serif;
  color: var(--main-text-color);
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}
.logo-span {
  font-family: raleway, sans-serif;
  color: var(--acent-color);
  font-size: 26px;
  line-height: 1.2;
}
.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav .link.current {
  color: var(--acent-color);
}
.nav .link:hover,
.nav .link:focus {
  color: var(--acent-color);
}

.nav-auth .link {
  color: var(--second--text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-auth .link:hover,
.nav-auth .link:focus {
  color: var(--acent-color);
}
/* Header-flex */
.nav {
  display: flex;
  margin-left: 93px;
}
.nav li {
  /* outline: tomato solid 2px; */
  margin-right: 50px;
}
.nav li:last-child {
  margin-right: 0px;
}

.nav-auth {
  display: flex;
  margin-left: auto;
}

.nav-auth .item + .item {
  margin-left: 50px;
}
.nav-all {
  display: flex;
  align-items: center;
}

.container.page-nav {
  display: flex;
  align-items: center;
}

/* hero */
.hero {
  background-color: var(--main-herofooter-color);
  text-align: center;
}
.hero-title {
  /* outline: tomato solid 2px; */

  color: var(--white-color);
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--acent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* Section - feature */

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-list .item {
  width: 270px;
  /* margin-right: 30px; */
}

/* .feature-list .item:last-child {
  margin-right: 0px;
} */
.feature-list .item + .item {
  margin-left: 20px;
}

.feature-list .title {
  line-height: 1.7;
  text-transform: uppercase;
}
.feature-list p {
  color: var(--second--text-color);
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* section what we do */
.section .what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.what-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.what-list .item + .item {
  margin-left: 30px;
}

/* section team */
.section-team {
  background-color: var(--secondary-bcg-color);
}
.section-team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.section-team .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-team .team-spec {
  font-size: 16px;
  color: var(--second--text-color);
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.ul-team {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.ul-team .item + .item {
  margin-left: 30px;
}

/* section footer */
.footer {
  background-color: var(--main-herofooter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  /* outline: solid tomato 2px; */
  color: var(--white-color);
  font-size: 26px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  line-height: 1.7;

  text-decoration: none;
}
.footer-ul {
  /* outline: tomato solid 2px; */
  margin-top: 20px;

  font-size: 14px;
  font-style: normal;
}
.footer-address {
  color: var(--white-color);
  line-height: 1.7;
  text-decoration: none;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--acent-color);
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  text-decoration: none;
}
.footer-email:hover,
.footer-email:focus {
  color: var(--acent-color);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  text-decoration: none;
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--acent-color);
}

/* porfolio section button */
.section-project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  /* outline: tomato solid 2px; */
  display: flex;
  justify-content: center;

  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.btn .item + .item {
  margin-left: 8px;
}
.prj {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.prj .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
}

.prj .item:nth-child(3n) {
  margin-right: 0;
}

.prj .item:nth-child(-n + 3) {
  margin-top: 0;
}

.btn-prj {
  background-color: var(--btn-bcg-color);
}
.btn-prj:hover,
.btn-prj:focus {
  color: var(--main-bcg-color);
  background-color: var(--acent-color);
}

.prj a {
  text-decoration: none;
}

.prj h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.prj p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--second--text-color);
  margin-top: 4px;
  margin-bottom: 0;
}

.div-h2p {
  /* outline: 2px solid green; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

/* основной цвет текста #212121  */
/* вторичный цвет  #757575 */
/* цвет основоной #FFFFFF */
/* цвет  герой и футер #2F303A */
/* цвет белый #FFFFFF */
/* цвет акцент #2196F3 */
